* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  font-weight: 400;
  border: 1px solid #000;
}

.main-container {
  margin: 0 auto;
  /* min-width: 1440px; */
  max-width: 2000px;
}

/*  styles for HEADER section  */
header {
  background: url(../images/header-bg.jpg) center / cover no-repeat;
  margin: 0 auto;
  position: relative;
  height: 812px;
}
.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__title {
  color: #282828;
  font-size: 60px;
  font-weight: 100;
}
.header__icon img{
  margin: 40px 0;
  opacity: 60%;
  transition: 500ms all ease;
}
.header__icon img:hover{
  opacity: 100%;
}
.header__button {
  min-width: 195px;
  min-height: 50px;
  color: white;
  background-color: #ff6d6d;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid #ff6d6d; 
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  transition: 500ms all ease;
}
.header__button:hover{
  background-color: #ff6d6d00;
  border: 1px solid #ff6d6d;
  color: #ff6d6d;
}
.header__note {
  color: #8c8c8f;
  font-size: 14px;
}

/*  styles for SECTION2 section  */
#sec-2.section {
  height: 725px;
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 3fr;
}
#sec-2 .section__container {
  background-color: white;
  position: relative;
}
#sec-2 .section__container-text {
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#sec-2 .section__placeHolder {
  background-color: #ececec;
  position: relative;
}
#sec-2 .section__placeHolder::after {
  content: "";
  width: 100%;
  height: 69.999%;
  background: linear-gradient(to right bottom, transparent 50%, #fb8686 50%);
  position: absolute;
  bottom: 0%;
}
.section__supTitle {
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 4px;
}
.section__title {
  font-size: 40px;
  margin-bottom: 48px;
}
#redText {
  color: #ff6d6d;
  letter-spacing: 4px;
  font-weight: 500;
}
#comment {
  color: #8c8c8f;
  font-size: 16px;
  font-weight: 500;
}

/*  styles for SECTION3 section  */
#sec-3.section {
  height: 675px;
  background-color: #f6f5f3;
  overflow: hidden;
}
#sec-3.section__container {
  position: relative;
  width: 100%;
  height: 100%;
}
#sec-3.section__container-text {
  text-align: center;
  width: 1120px;
  position: absolute;
  top: 40%;
  left: 50%;
  /* margin-right: -50%; */
  transform: translate(-50%, -40%);
}
.section-3-background {
  position: absolute;
  height: 100%;
  width: 100%;
}
#section-3-background-img-1 {
  position: absolute;
  left: 135px;
  object-fit: contain;
}
#section-3-background-img-2 {
  position: absolute;
  right: 150px;
  object-fit: contain;
}
#section-3-background-img-3 {
  position: absolute;
  top:100%;
  left: 90%;
  transform: translate(-90%, -100%); /* 610% ; узнать размеры ! */
  object-fit: contain;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 342px;
  height: 250px;
  margin: 0 10px;
}
.card-icon {
  margin: 25px;
}
#text-bold {
  font-weight: 600;
}

/*  styles for DESCRIPTION section  */

#description.section {
  width: 100%;
  height: 550px;
  background-color: white;
  display: grid;
  grid-template-columns: 740px auto;
  overflow: hidden;
}
#description .section__placeHolder {
  position: relative;
  width: 100%;
}
#description .section__placeHolder::before {
  content: "";
  width: 86.8%;
  height: 635px;
  background: linear-gradient(to left bottom, transparent 50%, #fb8686 50%);
  position: absolute;
  bottom: 0%;
}
#section-description-background-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
.absolute-center {
  width: 492px;
  height: 260px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#description .section__container-text {
  position: relative;
}

/*  styles for CLIENTS section  */

#clients.section {
  height: 650px;
  background-color: black;
}
#clients .section__container {
  background: url(../images/clients-bg.png) center / cover no-repeat;
  height: 100%;
  position: relative;
  /* border: 3px solid #000; */
}
#clients .section-content {
  position: absolute;
  width: 1100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-commentsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 111px;
}
#clients .section-commentCard {
  width: 326px;
  height: 275px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.section-commentCard-img {
  margin-bottom: 20px;
}
.section-commentCard-name {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 18px;
  margin-bottom: 14px;
}
.section-commentCard-position {
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 37px;
  line-height: 14px;
}
.comment {
  color: #c7c8c9;
  font-size: 16px;
  font-weight: 500;
}
.section-partnerLogo {
  filter: brightness(0) invert(1);
  opacity: 60%;
  transition: 500ms all ease;
}
.section-partnerLogo:hover{opacity: 100%;}
#clients .section-partnersLogos {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/*  styles for BROWSER section  */
#browser.section {
  height: auto;/*755px*/
  position: relative;
  background-color: #f6f5f3;
}
#browser .section__container {
  /*height: 646px;*/
  width: 648px;
  margin: auto;
  padding-top: 109px;
  /*position: absolute;
  left: 50%;
  top: 755px;
  transform: translate(-50%, -100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;*/
}
#browser .section__container-text {
  /*width: 648px;*/
  text-align: center;
  margin: auto auto 111px;
}
#browser-img {
  margin-bottom: 0;
  width: 100%;
}

/*  styles for TRY NOW section  */
#tryNow.section{
  /*height: 467px;*/
  background-color: #323969;
  position: relative;
}
#tryNow .section__container{
  /*width: 1140px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
  margin: auto;
  padding: 81px 135px;
}
#tryNow .section__container-text{
  text-align: center;
}
#tryNow .section__title{
  color: #fff;
}
.form-email{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 2px;
}
.form-email-input{
  width: 233px;
  height: 47px;
  color: white;
  background-color: #474d78;
  border: 1px solid #999cb4;
  border-radius: 1px;
  padding-left: 28px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 15px 50px;
}
.form-email-input::placeholder {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  opacity: 1;
}
.form-email-button{
  width: 100%;
  height: 47px;
  color: #fff;
  background-color: #ff6d6d;
  border: 1px solid #ff6d6d;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 500ms all ease;
}
.form-email-button:hover{
  background-color: #e63737;
  border: 1px solid #e63737;
}
.form-email-submit{
  width: 257px;
  text-align: center;
  margin: 0 16px 50px;
}
#form-email.comment{
  color: #fff;
  margin-bottom: 41px;
  position: relative;
}
#form-email.comment::before{
  position: absolute;
  content: url(../images/tryNow-arrow.png);
  left:0px;
}
#form-email-sub.comment{
  text-align: center;
}
#form-email-sub a{
  color: inherit;
}

/*  styles for FOOTER */
footer{
  height: 332px;
  background-color: white;
}
footer::after {
  content: "";
  position: absolute;
  width: 100%;
  background: linear-gradient(to right bottom, transparent 50%, #fb8686 50%);
  bottom: 0%;
}

/*  styles for FOOTER */
#footer.section{
  display: grid;
  grid-template-columns: auto 22.5%;
  color: #8c8c8f;
  font-size: 16px;
  font-weight: 500;
}
#footer .section__placeHolder{
  position: relative;
  width: 100%;
  height: 100%;
}
#footer .section__placeHolder::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right top, transparent 50%, #fb8686 50%);
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
}
#footer .section__container{position: relative;}
#footer .section-content{
  width: 953px;
  height: 150px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__title{color: #282828; margin-bottom: 20px;}
.footer__text{
  font-size: 14px;
  line-height: 25px;
}
.footer__interactable{transition: 100ms all ease; cursor: pointer;}
.footer__interactable:hover{color: #282828;}
.tel-number{text-decoration: none; color: inherit;}
.tel-number:hover{text-decoration: underline;}
.footer__address{
  width: 233px;
  height: 100%;
}
.footer_email-input{
  position: relative;
  width: 265px;
  height: 50px;
  border: 1px solid #8c8c8f;
  border-radius: 3px;
}
.footer__email-input-item{
  width: 100%; 
  height: 100%; 
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 30px;
  background-color: #f6f6f6;
  border-radius: 3px;
}
.footer__email-input-item::placeholder{text-transform: uppercase;}
.footer__email-submit{
  width: 52px; 
  height: 52px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(5%, -50%);
  background-color: #ff6d6d;
  border: none;
  border-radius: 3px;
  background-image: url(../images/submit-btn-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 300ms all ease;
}
.footer__email-submit:hover{
background-color: #282828;
}