*{
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    /* border: 1px solid #000; */
}

.main-container{
    margin: 0 auto;
    /* min-width: 1400px; */
    max-width: 2000px;
}

/* style for Header */
header{
    background: url(../images/header-bg.jpg) center / cover no-repeat;
    margin: 0 auto;
    position: relative;
    height: 812px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-title{
    color: #282828;
    font-size: 60px;
    font-weight: 100;
}
.header-icon{
    margin: 40px 0;
    opacity: 60%;
}
.header-button{
    min-width: 195px;
    min-height: 50px;
    color: white;
    background-color: #ff6d6d;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 3px;
}
.header-note{ color: #8c8c8f; font-size: 14px;}

/* section2 */
#sec-2.section{
    height: 725px;
    background-color: white;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
#sec-2 .section-container{
    background-color: white;
    position: relative;
}
#sec-2 .section-container-text{
    width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#sec-2 .section-placeHolder{
    background-color: #ececec;
    position: relative;
}
#sec-2 .section-placeHolder::after{
    content: '';
    width: 100%;
    height: 69.999%;
    background: linear-gradient(to right bottom, transparent 50%, #fb8686 50%);
    position: absolute;
    bottom: 0%;
}
.section-supTitle{
    color: #ff6d6d;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.section-title{
    font-size: 40px;
    margin-bottom: 48px;
}
#redText{ color: #ff6d6d;}
#comment{ color: #8c8c8f; font-size: 16px; font-weight: 500;}

#sec-3.section{
    height: 675px;
    background-color: #f6f5f3;
    overflow: hidden;
}
#sec-3.section-container{position: relative;}
#sec-3.section-container-text{
    text-align: center;
    width: 1120px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 40%)
}

.section-3-background{position: relative; height: 100%;}
#section-3-background-img-1{
    position: absolute;
    left: 135px;
}
#section-3-background-img-2{
    position: absolute;
    right: 150px;
}
#section-3-background-img-3{
    position: absolute;
    left: 90%;
    margin-right: -50%;
    transform: translate(-50%, 611%)    /* 610% ; узнать размеры ! */
    /* display: none;               !!!!    */
}
.cards-container{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 342px;
}
.card-icon{margin: 25px;}
#text-bold{font-weight: 600;}