@media screen and (max-width: 1342px){
    /*  header  */
    .header__content{top:40%;}
    /*  description */
    #description.section{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    #description .section__container-text{
        grid-row-start: 1;
    }
    #description .absolute-center{
        width: 75%;
        text-align: center; 
        left: 50%; top: 50px; transform: translate(-50%, 0);}
    #description .section__placeHolder{grid-row-start: 2;}
    #description .section__placeHolder::before{height: 100%; width: 50%;}
    #section-description-background-img{
        max-height: 110%;
        top: 100%;
        left: 0;
        transform: translate(0, -100%);
    }
    /*  tryNow  */
    #tryNow .section__container{padding: 81px 0;}
    .form-email{justify-content: space-evenly;}
    /*  footer  */
    .footer__block{margin: 20px auto auto;}
    #footer .section-content{
        width: auto;
        float: none;
        margin-left: 20px;
      }
}

@media screen and (max-width: 1100px){
    /*  section-2   */
    #sec-2.section{ grid-template-columns: 1fr 0fr; position: relative;}
    #sec-2.section::after{
        content: "";
        position: absolute;
        background: linear-gradient(to right bottom, transparent 50%, #fb8686 50%);
        width: 205px;
        height: 205px;
        bottom: 0%;
        right: 0%;
    }
    #sec-2 .section__container-text{ width: 75vw;}
    #sec-2 .section__placeHolder{display: none;}
    /*  section-3   */
    #sec-3.section{ height: 900px;}
    #sec-3.section__container-text{top:150px; transform: translate(-50%, 0);}
    #section-3-background-img-1{width: 200px; left: 0%;}
    #section-3-background-img-2{width: 150px; right: 0%;}
    .cards-container{
        flex-wrap: wrap;
        width: 100vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    /*  description */
    #section-description-background-img{max-height: 75%;}
    /*  clients */
    #clients .section-content{width: 90%;top:50px;transform: translate(-50%, 0);}
    #clients .section-partnersLogos{flex-wrap: wrap;}
    .section-partnerLogo{width: 15vw; max-width: 130px;}
    /*  browser */
    #browser .section__container{width: 75vw;}
    #browser .section__container-text{width: 100%;}
    #browser-img{object-fit: contain;object-position: bottom;}
    /*  footer */
    #footer .section-content{
        margin-top: 20px;
        margin-bottom: 40px;
      }
}

@media screen and (max-width: 763px){
    /*  section-3   */
    #sec-3.section{ height: 1150px;}
    
}

@media screen and (max-width: 736px){
    /*  header  */
    .header__title{font-size: 8vw;}
    /*  section-3   */
}

@media screen and (max-width: 618px){
    /*  clients */
    #clients.section {height: 1150px;}
    .section-commentsContainer{flex-direction: column;align-items: center;margin-bottom: 50px;}
    #clients .section-commentCard{margin-bottom: 20px;}
}

@media screen and (max-width: 525px){
    /*  description   */
    #section-description-background-img{max-height: 60%;}
    /*footer*/
    #footer .section__placeHolder{display: none;}
    #footer{position: relative;}
    #footer.section::after {
        content: "";
        position: absolute;
        background: linear-gradient(to right top, transparent 50%, #fb8686 50%);
        width: 90px;
        height: 90px;
        top: 0%;
        right: 0%;
      }
}

@media screen and (max-width: 510px){
    /*  section-2   */
    #sec-2.section{ height: 600px;}
    .section__supTitle{font-size: 14px;}
    .section__title{font-size: 8vw;}
    #comment{font-size: 14px;}
    #sec-2 .section__container-text{top: 50px; transform: translate(-50%, 0%);}
    #sec-2.section::after{
        width: 100px;
        height: 100px;
    }
    /*  section-3   */
    #section-3-background-img-1{width: 150px;}
    #section-3-background-img-2{width: 100px;}
    /*clients*/
    #clients .section-commentCard{
        width: auto;
        height: auto;
    }
    /*  footer   */
    #footer .section-content{
        margin: 20px 0px 40px 20px;
    }
    .footer__get-newsletter{order: 1;}
    .footer__get-newsletter, .footer__address{width: 100%;}
    
    .footer_email-input{
        width: 100%;
        max-width: 200px;
        height: 30px;
    }
    .footer__email-submit{
    width: 32px;
    height: 32px;
    }
}