@media screen and (max-width: 1342px){
    /*  header  */
    .header__content{top:40%;}
}

@media screen and (max-width: 1100px){
    /*  section-2   */
    #sec-2.section{ grid-template-columns: 1fr 0fr; position: relative;}
    #sec-2.section::after{
        content: "";
        position: absolute;
        background: linear-gradient(to right bottom, transparent 50%, #fb8686 50%);
        width: 205px;
        height: 205px;
        bottom: 0%;
        right: 0%;
    }
    #sec-2 .section__container-text{ width: 75vw;}
    #sec-2 .section__placeHolder{display: none;}
    /*  section-3   */
    #sec-3.section{ height: 900px;}
    #sec-3.section__container-text{top:150px; transform: translate(-50%, 0);}
    #section-3-background-img-1{width: 200px; left: 0%;}
    #section-3-background-img-2{width: 150px; right: 0%;}
    .cards-container{
        flex-wrap: wrap;
        width: 100vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

@media screen and (max-width: 763px){
    /*  section-3   */
    #sec-3.section{ height: 1150px;}
}

@media screen and (max-width: 736px){
    /*  header  */
    .header__title{font-size: 8vw;}
    /*  section-3   */
}

@media screen and (max-width: 510px){
    /*  section-2   */
    #sec-2.section{ height: 600px;}
    .section__supTitle{font-size: 14px;}
    .section__title{font-size: 8vw;}
    #comment{font-size: 14px;}
    #sec-2 .section__container-text{top: 50px; transform: translate(-50%, 0%);}
    #sec-2.section::after{
        width: 100px;
        height: 100px;
    }
    /*  section-3   */
    #section-3-background-img-1{width: 150px;}
    #section-3-background-img-2{width: 100px;}
}
